{% extends 'vistas/base.html' %}
{% load static %}

{% block title %}Perfil de Usuario{% endblock %}

{% block content %}
<div class="profile-container">
    <h2>Perfil de Usuario</h2>
    <div class="profile-columns">
        <div class="profile-image">
            {% if user_profile.image %}
                <img src="{{ user_profile.image.url }}" alt="Imagen de Perfil">
            {% else %}
                <img src="{% static 'img/default.png' %}" alt="Imagen de Perfil por Defecto">
            {% endif %}
        </div>

        <div id="profile-info" class="profile-info">
            <h3>Información del Usuario</h3>
            <p><strong>Nombre:</strong> {{ user_profile.name }}</p>
            <p><strong>Email:</strong> {{ user_profile.user.email }}</p>
            <p><strong>Descripción:</strong> {{ user_profile.description }}</p>
            <p><strong>Website:</strong> <a href="{{ user_profile.website }}">{{ user_profile.website }}</a></p>
            <button id="edit-btn" class="btn btn-secondary">Editar Perfil</button>
        </div>
    </div>

    

    <div id="profile-form" class="profile-form" style="display: none;">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                {{ form.as_p }}
            </div>
            <button type="submit" class="btn btn-primary">Actualizar Perfil</button>
        </form>
    </div>

    <div class="profile-delete">
        <form method="post" action="{% url 'accounts:delete_profile' %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Eliminar Perfil</button>
        </form>
    </div>
</div>

<style>
    .profile-columns {
        display: flex;
        align-items: flex-start;
    }

    .profile-image {
        margin-right: 20px;
    }

    .profile-image img {
        max-width: 150px;
        border-radius: 50%;
    }

    .profile-info {
        flex: 1;
    }

    .profile-container {
        max-width: 800px;
        margin: 0 auto;
    }
</style>

<script>
    document.getElementById("edit-btn").addEventListener("click", function() {
        document.getElementById("profile-info").style.display = "none";
        document.getElementById("profile-form").style.display = "block";
    });
</script>

{% endblock %}


