{% extends 'vistas/base.html' %}

{% block title %}Acerca del Proyecto{% endblock %}

{% block content %}
<h2>Acerca del Proyecto</h2>
<p>La meta del proyecto es proporcionar una plataforma para administrar una biblioteca comunitaria o local. Los usuarios no registrados pueden acceder a las pestañas "Acerca de mí", "Acerca del Proyecto", registrarse e iniciar sesión.</p>
<p>Una vez que inicien sesión, los usuarios registrados pueden:</p>
<ul>
    <li>Hacer entradas en un blog.</li>
    <li>Ver la lista de libros en el inventario.</li>
    <li>Solicitar el préstamo de libros.</li>
    <li>Realizar devoluciones de libros.</li>
</ul>
{% endblock %}