{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Mi Proyecto{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'biblioteca/styles.css' %}">
</head>
<body>
    <header>
        <h1>Mi Proyecto Django</h1>
    </header>
    <nav>
        <ul>
            <li><a href="{% url 'donar_libro' %}">Donar Libro</a></li>
            <li><a href="{% url 'buscar' %}">Buscar Libros</a></li>
            <li><a href="{% url 'seleccionar_libro_prestamo' %}">Pedir Préstamo</a></li>
            <li><a href="{% url 'seleccionar_libro_devolucion' %}">Registrar Devolución</a></li>
        </ul>
    </nav>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>© 2024 Tercera Pre-entrega Peña Rafael</p>
    </footer>
</body>
</html>





