{% extends 'vistas/base.html' %}

{% block title %}Formulario de Préstamo de Libro{% endblock %}

{% block content %}
<h1>Formulario de Préstamo de Libro</h1>
{% if messages %}
    <div>
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
    </div>
{% endif %}
<p>Utilice este formulario para pedir prestado el libro "{{ libro.titulo }}".</p>

<form method="post">
    {% csrf_token %}
    <div>
        <label for="id_fecha_prestamo">Fecha de Préstamo:</label>
        {{ form.fecha_prestamo }}
        <p>Ingrese la fecha del préstamo (AAAA-MM-DD).</p>
    </div>
    <div>
        <label for="id_fecha_devolucion">Fecha de Devolución:</label>
        {{ form.fecha_devolucion }}
        <p>Ingrese la fecha de devolución (opcional).</p>
    </div>
    <button type="submit">Guardar</button>
</form>
{% endblock %}

